// ==========================================================================
// Various Mixin
// ========================================================================== */


// Mixin Clearfix

@mixin clearfix {
	&:before,
	&:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	&:after {
    	
	}	
}

/**
 * HIde TExt
 */

 @mixin hide-text {
  overflow: hidden;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
  }
}


// media queries
@mixin bp($point) {
  @if $point == baby-bear {
    @media screen and (max-width:35em) { @content; }
  }
  @else if $point == bro-bear {
    @media screen and (min-width:35em) { @content; }
  }
  @else if $point == mama-bear {
    @media screen and (min-width:48em)  { @content; }
  }
  @else if $point == papa-bear {
    @media screen and (min-width:60)  { @content; }
  }
}