/* ==========================================================================
    $ Typography
   ========================================================================== */

/**
 * 59.301	3.706	3.706	456.162
	41.887	2.618	2.618	322.208
	36.651	2.291	2.291	281.931
	25.888	1.618	1.618	199.138
	22.652	1.416	1.416	174.246
	16.000	1		1		123.077
	14.000	0.875	0.875	107.692
	9.889	0.618	0.618	76.069
	8.653	0.541	0.541	66.562
	6.112	0.382	0.382	47.015

	font-family: 'Merriweather', serif;
	font-family: 'Open Sans', sans-serif;
 */

html {
	font-size: 87.5%;
}

body { 
 	font-family: 'Source Sans Pro', "Segoe WP", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
 	font-size: 1rem;
 	line-height: $base-line-height;
 	font-weight: 300;
 	color: #444;
 	box-shadow: 0px 0px 3px rgba(#000,.5);
 }

 h1,h2,h3, dt {
 	font-family: 'Merriweather', calibri, serif;
 	font-weight: 300;
 	color: #222;
 }

 h4,h5,h6 {
 	ffont-family: 'Source Sans Pro', "Segoe WP", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
 	font-weight: 600;
 	color: #222;
 }

.sans {
	font-family: 'Source Sans Pro', "Segoe WP", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
}

.bold {
	font-weight: 600;
}

 h1,
 .alpha {
 	font-size: 2.618rem;
 	line-height:3rem;
 	margin-bottom: ($base-spacing-unit*3)- 3rem;
 }

h2,
.beta {
	font-size: 1.618rem;
	line-height: 2rem;
	margin-bottom: ($base-spacing-unit*3) - 2rem;
}

h3 {
	font-size: 1rem;
	line-height: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
}

h4,
.delta {
	font-size: 1rem;
	line-height: $base-spacing-unit;
	margin-bottom: 0;
}



h5,
.epsilon,
dt {
	font-size: 1rem;
	line-height: $base-spacing-unit;
	margin-bottom: 0;	
}

p {

	margin-bottom: $base-spacing-unit;
}


.small,
time {
	font-size: 0.875rem;
	line-height: $base-line-height;
	margin-bottom: $base-spacing-unit;
}




.intro,
.lead {
	font-size: 1.416rem;
	line-height: 2.25rem;
	margin-bottom: ($base-line-height*3) - 2.25rem;
}

i,
.summary {
	font-style: italic;
}


/**
 * Remove underline on heading element
 */

h1 a,
h2 a {
	text-decoration: none;
	color: inherit;
}

h1 a,
h2 a:hover {
	color: #888;
}


@media only screen and (min-width: 35em) {
	html {
		font-size: 100%;
	}

	body {
		
		font-weight: 300;
	}

}


@media only screen and (min-width: 1440px) {
	html {
		font-size: 115%;
	}

	body {

		font-weight: 300;
	}

}

