/* ==========================================================================
    $ Typography
   ========================================================================== */


html {
	
}

body { 
 	font-family: $base-font-family;
 	font-size: $base-font-size;
 	line-height: $base-line-height;
 	hyphens: auto;
    word-wrap: break-word;
 }

// base heading

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    color: $heading-color;
    text-rendering: optimizeLegibility; 
    font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
    font-weight: 600;
}

.sans {
	font-family: $sans-font-family;
}

.bold {
	font-weight: 600;
}

 h1,
 .alpha {
 	font-size: 2.618rem;
 	line-height:3rem;
 	margin-bottom: ($base-spacing-unit*3)- 3rem;
 }

h2,
.beta {
	font-size: 1.618rem;
	line-height: 2rem;
	margin-bottom: ($base-spacing-unit*3) - 2rem;
}

h3 {
	font-size: 1rem;
	line-height: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;
}

h4,
.delta {
	font-size: 1rem;
	line-height: $base-spacing-unit;
	margin-bottom: 0;
}



h5,
.epsilon,
dt {
	font-size: 1rem;
	line-height: $base-spacing-unit;
	margin-bottom: 0;	
}



// Paragraph

p {
	margin-bottom: $base-spacing-unit;
	font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}


.small,
time {
	font-size: 0.875rem;
	line-height: $base-line-height;
	margin-bottom: $base-spacing-unit;
}




/*
 * HTML 5 Inline Style Element
 */

b,
strong,
.bold {
    font-weight: $bold-weight;
}

i {
    font-style: italic;
}




.intro,
.lead {
	font-size: 1.416rem;
	line-height: 2.25rem;
	margin-bottom: ($base-line-height*3) - 2.25rem;
}


.small-caps {
    font-feature-settings: 'smcp' 1, 'kern' 1;
}

.lining-numerals {
    font-feature-settings: 'lnum' 1, 'kern' 1;
}

.oldstyle-numerals {
    font-feature-settings: 'onum' 1, 'kern' 1;
}







/**
 * Remove underline on heading element
 */

h1 a,
h2 a {
	text-decoration: none;
	color: inherit;
}

h1 a,
h2 a:hover {
	color: #888;
}



